<!-- <h1>I'm Heading1 h1.
  <small>I'm secondary Heading1 h1</small>
</h1>
<h2>Lead Example</h2>
<p class="lead">an example paragraph to demonstrate the use of lead body copy.</p> -->
<!-- <img class="img-responsive"
  src="https://static.displate.com/857x1200/displate/2019-11-20/329786529be1517d1aa3877f464961bc_b947a5055e901fd7759f20fef32e3c3c.jpg">

<button type="button" class="close" aria-hidden="true"></button>


<p>Caret Example<span class="caret"></span></p>

<label class="sr-only" for="email">Email address</label>
<input type="email" class="form-control" placeholder="Enter email">

<span class="glyphicon glyphicon-search"></span>

<div class="btn-group">
  <button type="button" class="btn btn-default">
    Button1
  </button>
  <button type="button" class="btn btn-default">
    Button2
  </button>
</div> -->

<!-- <div class="btn-group">
  <button type="button" class="btn btn-default">Button1</button>
  <button type="button" class="btn btn-default">Button2</button>
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      Dropdown<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
    </ul>
  </div>
</div> -->

<!-- <div class="btn-group">
  <button type="button" class="btn btn-primary">Split Dropdown</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
       <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
         <li><a href= #>Option 1</a></li>
        <li><a href= #>Option 2</a></li>
  </ul>
</div> -->

<!-- <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" placeholder="Amount" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-addon">.00</span>
</div> -->


<!-- <div class="input-group">
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button">Go!</button>
  </span>
</div> -->